<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ avatars.robohash(post.author.id, size='100') }}">
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>      
            <span id="post{{ post.id }}">{{ post.body }}</span>           
            <td style="text-align:right">
                {% if current_user.id != post.recipient_id %}
                <p>
                {{ post.karma }}  
                </p>
                {% endif %} 

                {% if current_user.id == post.recipient_id %}
                <a href="{{ url_for('delete_message', post_id=post.id) }}">{{ 'Delete' }}</a>
                <a href="{{ url_for('send_message', recipient=post.author.username) }}">{{ 'Reply' }}</a>
                {% endif %} 

                {% if current_user.id == post.author.id %}
                <a href="{{ url_for('delete_post', post_id=post.id) }}">{{ 'Delete Post' }}</a>
                {% endif %} 

                {%  if post.karma != None %}
                <a href="{{ url_for('karma_up', post_id=post.id) }}">
                    &#128077;
                </a>
                <a href="{{ url_for('karma_down', post_id=post.id) }}">
                    &#128078;
                </a>
                {% endif %} 
            </td>
        </td>
    </tr>
</table>